.content {
  // position: relative;
  // height: 37vw;
  // margin-top: -40px;
  // position: fixed;
  // top: 50%;
  // left: 50%;
  z-index: 4;
  height: 100% !important;
    width: 100% !important;
    position: absolute;
    display: block;
    z-index: 99999;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
  
  &__background,
  &__background__shadow,
  &__background__image,
  &__area {
    position: absolute;
    top: 0;
    bottom: 0;
  }

  &__background {
    // left: 0;
    // right: 0;
    right: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;

    &__shadow {
      left: 0;
      background: #000;
      width: 30%;
      z-index: 2;

      &:before {
        content: '';
        position: absolute;
        z-index: 10;
        background-image: linear-gradient(to right,#000,transparent);
        top: 0;
        bottom: 0;
        left: 100%;
        width: 275px;
      }
    }

    &__image {
      right: 0;
      width: 70%;
      height: 100%;
      background-position: center 10%;
      background-size: cover;
      z-index: 1;
    }
  }

  &__area {
    //left: 0;
    //right: 0;
    //height: 100%;
    //z-index: 3;
    
    &__container {
      padding: 30px 70px;
      color: wheat;
      position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3
    }
  }

  &__title {
    font-size: 45px;
    color: #fff;
    font-weight: 700;
  }

  &__description {
    font-size: 18px;
    color: #999;
    margin-top: 20px;
    max-width: 500px;
  }

  &__rating {
    font-size: 18px;
    color: #fff;
    margin-top: 20px;
    max-width: 500px;
    font-weight: 600;
  }

  &__close {
    color: #404040;
    width: 40px;
    height: 40px;
    background: transparent;
    outline: none;
    border: none;
    position: fixed;
    top: 28%;
    left: 72%;
    transform: translate(-50%, -50%);
    z-index: 5;
  }
}