.slide-button {
   position: absolute;
 
   border: 0;
   outline: 0;
  
     width: 49px;
      background: rgba(0, 0, 0, 0.5);
      bottom: 12em;
      z-index: 6;
     
  span {
    width: 25px;
    color: #fff;
    display: block;
    margin: 0 auto;
  }

  &--next {
    //right: 0;
    margin-left: 104em;
    span {
      transform: rotateZ(-90deg);
    }
  }

  &--prev {
    left: 0;

    span {
      transform: rotateZ(90deg);
    }
  }
}
